example-on-mule-interceptor/src/main/app/example-on-mule-interceptor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd" version="EE-3.4.1">
 
   
    <flow name="interceptorFlow" doc:name="interceptorFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="in" doc:name="VM"/>
        <custom-interceptor class="com.wsl.MyCustomInterceptor"/>
        <timer-interceptor></timer-interceptor>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger" message="#[flow.name], #[payload]"/>
    </flow>
</mule>