autoflowtrigger/src/main/app/autoflowtrigger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
	<quartz:connector name="Quartz" validateConnections="true" doc:name="Quartz"/>

	<flow name="AutoTriggerFlow1" doc:name="AutoTriggerFlow1">
		<quartz:inbound-endpoint name="runOnce"
			repeatCount="0" repeatInterval="1" jobName="job1" connector-ref="Quartz" doc:name="Quartz">
			<quartz:event-generator-job>
				<quartz:payload>This is payload to the flow</quartz:payload>
			</quartz:event-generator-job>
		</quartz:inbound-endpoint>

		<logger message="#[payload]" level="WARN" doc:name="Logger"/>
		<logger message="#[message]" level="WARN" doc:name="Logger"/>
	</flow>
</mule>
